<h1>Photo Details</h1>




<img src="<%= @show_photos.source %>" width="50%">

<div style="margin-top:20px">
<%= @show_photos.caption %>
</div>

<div style="margin-top:20px">
<a href="http://localhost:3000/">Back</a>
<a href="http://localhost:3000/photos/<%= @show_photos.id %>/edit">Edit</a>
<a href="http://localhost:3000/delete_photo/<%= @show_photos.id %>">Delete</a>
</div>
